// Brand Palette
$color-navy: #151E3C;
$color-black: #000000;
$color-orange: #FA7E61;
$color-yellow: #FEF450;
$color-blue-light: #9CD9F6;
$color-pink: #F2AFC6;
$color-purple: #3D1B76;
$color-green: #A1EF8E;

// Semantic Colors
$primary-color: $color-navy;
$secondary-color: $color-orange; 
$accent-color: $color-yellow;

$text-color: $color-black;
$background-color: #ffffff; // Keeping white as default background for now
