$color-navy: #151E3C;
$color-black: #000000;
$color-orange: #FA7E61;
$color-yellow: #FEEA50;
$color-blue-light: #9CD9F6;
$color-pink: #F2AFC6;
$color-purple: #3D1B76;
$color-green: #A1EF8E;
$color-brick: #8F1B42;
$color-bricklight: #CF342F;
$color-grey-light: #F2F2F2;
$color-lilac: #C2ACFD;
$font-primary: "roc-grotesk-variable", sans-serif;

$primary-color: $color-navy;
$secondary-color: $color-orange; 
$accent-color: $color-yellow;

$text-color: $color-black;
$background-color: #ffffff;
